body {
    background: scroll;
    background-color: rgb(246, 245, 215);
    text-align: justify;
    width: 800px;
}

.header {
    color: blueviolet;
    font-size: 40px;font-family: "calibri", Helvetica, sans-serif;
width:275px;
text-align: center;
margin: 10px auto;
padding: 8px;
}

.intro {
color: rgb(247, 10, 10);
width: 305px;
margin: 1px auto;
}

.one {
    background-color: palevioletred;
}
#two {
    background-color: rgb(91, 174, 162);
}
body {
    background-color: "rainbow";
}